* {
    box-sizing: border-box;
    margin: 0 auto;
}

body{
    background:darkslategray;
}

:root{
    --radius-user-img: 150px;
}

.cardPosition{
    max-width: 800px;
    max-height: 600px;
    
}


.userCard{
    
    max-width: 100%;
    max-height: 500px;
    min-width: 220px;
    max-width: 400px;
    background-color: white;
    margin: 20px;
    color: black;
    overflow: hidden;
    border-radius: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px 12px rgba(34, 60, 80, 0.2) inset;
}


.backgroundImage {
    width: 100%;
    min-height: 150px;
    background-image: url(/img/mountains.jpeg);
    background-size: cover;

}

.userImageContainer{
    margin-top: 25px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: 8px solid white;
    border-radius: 50%;
    position: relative;
    top: calc(var(--radius-user-img)*-1);
    

}

div.userImageContainer > img{
    width: inherit;
    height: inherit;
    object-fit: contain;

}

.userInfoContainer{
    text-align: center;
    margin-top: calc(var(--radius-user-img)*-1);
    }

.userFullName{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-transform:uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.userAddress{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.userInfo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    letter-spacing: 2px;
    margin: 10px;
}


.userSocialMediaContainer{
    display: flex;
    justify-content: center;
    border-top: 2px solid black;
}

.userSocialMediaItem{
    margin: 10px;
}

.fb, .tw, .ln{
    width: 25px;
    height: 25px;
}
